body {
  color: white;
}

.study-decks-title {
  font-size: 28px;
  color: #4a90e2;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.new-deck-link {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.new-deck-link a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  background-color: #f8f9fa;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.new-deck-link a:hover {
  background-color: #e9ecef;
}

.deck-list {
  list-style-type: none;
  padding: 0;
  width: 80%;
  margin: auto;
}

.deck-item {
  background-color: #fff;
  color: #333;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  text-align: center;
  cursor: pointer;
}

.deck-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.styled-list-container {
  max-height: 700px;
  overflow-y: auto;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.styled-list li {
  background-color: #f8f9fa;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container-custom {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 80px);
}

.left-section,
.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.deck-details {
  width: 90%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-card-container {
  width: 60%;
  height: 85%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-quiz-btn a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  background-color: #f8f9fa;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  display: block;
  text-align: center;
}

.start-quiz-btn a:hover {
  background-color: #e9ecef;
}

.form-title {
  align-self: center;
  color: white; /* Ensure consistency in form title color */
}

.start-quiz-btn {
  align-self: flex-end;
}

.custom-input {
  width: 90%;
  padding: 8px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

.custom-input:focus {
  border-color: #4a90e2;
}

.btn-submit {
  background-color: #4a90e2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-submit:hover {
  background-color: #357ABD;
}

.form-question-container,
.form-answer-container {
  color: white; /* Changed from black */
}

.deck-title {
  color: white;
}

/* Flip Card */

.card-container {
  width: 350px;
  height: 500px;
  perspective: 800px;
}

.card-container:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
  display: flex; /* Ensure the card is not set to display:none */
  opacity: 1; /* Ensure the card is fully opaque */
  visibility: visible; /* Ensure the card is not hidden */
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background-color: #4a77ae;
}

.back {
  background-color: #3a3a3a;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.flashcard {
  background-color: #272525;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;
  width: 80%;
  margin: 20px auto;
}

.card-actions button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4a90e2;
  color: white;
  cursor: pointer;
}

.card-actions button:hover {
  background-color: #357ABD;
}