body {
  color: white;
}

ul {
  list-style: none;
}

.study-decks-title {
  font-size: 28px;
  color: #4a90e2;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.new-deck-link {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.new-deck-link a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  background-color: #f8f9fa;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.new-deck-link a:hover {
  background-color: #e9ecef;
}

.deck-list {
  list-style-type: none;
  padding: 0;
  width: 80%;
  margin: auto;
  list-style: none;
}

.deck-item {
  background-color: #fff;
  color: #333;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  text-align: center;
  cursor: pointer;
}

.deck-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.deck-title {
  color: #ffffff;
}

.styled-list-container {
  max-height: 700px;
  overflow-y: auto;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.styled-list li {
  background-color: #f8f9fa;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Ensure items are stacked vertically */
  align-items: flex-start; /* Align items to the start */
  word-wrap: break-word; /* Ensure long words do not overflow */
  overflow-wrap: break-word; /* Break words to prevent overflow */
  max-width: 100%; /* Ensure list items do not exceed their container */
  width: 95%; /* Set a specific width to control layout */
}

.styled-list li::before,
.styled-list li::after {
  content: none; /* Remove content from pseudo-elements */
}

.styled-list li span.question,
.styled-list li span.answer {
  display: block; /* Make spans block elements */
  width: 100%; /* Full width to utilize the entire line */
  padding: 2px 0; /* Padding for better readability */
}

.styled-list li span.question::before {
  content: "Q: "; /* Add question label */
  font-weight: bold;
}

.styled-list li span.answer::before {
  content: "A: "; /* Add answer label */
  font-weight: bold;
}

.container-custom {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 100px);
}

.left-section,
.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.deck-details {
  width: 90%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-title {
  align-self: center;
  color: white;
}

.start-quiz-btn {
  align-self: flex-end;
}

.start-quiz-btn a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  background-color: #f8f9fa;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  display: block;
  text-align: center;
}

.start-quiz-btn a:hover {
  background-color: #e9ecef;
}

.custom-input {
  width: 95%; /* Increased width */
  max-height: 200px; /* Maximum height before scrolling */
  padding: 8px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
  resize: none; /* Disable manual resizing */
  overflow: auto; /* Enable scrolling when content exceeds the element's box */
}

.custom-input:focus {
  border-color: #4a90e2;
}

.btn-submit {
  background-color: #4a90e2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-submit:hover {
  background-color: #357ABD;
}

.card-container {
  width: 350px;
  height: 500px;
  perspective: 800px;
  margin: 0 auto;
}

.card-container:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  border-radius: 2rem;
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.back {
  background-color: #a74444;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4a90e2;
  color: white;
  cursor: pointer;
  display: inline-block;
}

button:hover {
  background-color: #357ABD;
}

.incorrect-btn {
  background-color: #d9534f;
}

.incorrect-btn:hover {
  background-color: #c9302c;
}

.quiz-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 170px); /* Adjust this value based on the actual height of your navbar */
  padding-top: 40px; /* Optional: Adjust this value to give some space from the navbar */
}

#quiz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4a90e2;
  color: white;
  cursor: pointer;
  display: inline-block;
}

button:hover {
  background-color: #357ABD;
}

.incorrect-btn {
  background-color: #d9534f;
}

.incorrect-btn:hover {
  background-color: #c9302c;
}

#score {
    font-size: 24px; /* Larger font size */
    font-weight: bold; /* Make the font bold */
    color: #99bfeb; /* Adjust the color if needed */
}
