body {
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
}