@import "tailwind/css/base";
@import "tailwind/css/components";
@import "tailwind/css/utilities";

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
svg {
  vertical-align: middle;
}
label {
  display: inline-block;
}
button {
  border-radius: 0;
}
button:focus:not(:focus-visible) {
  outline: 0;
}
input,
button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  text-transform: none;
}
.form-control[type="file"]:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control::file-selector-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  margin-inline-end: 0.75rem;
  color: #f8f9fa;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #dde0e3;
}
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #dde0e3;
}
.form-control-sm::file-selector-button {
  padding: 0.25rem 0.5rem;
  margin: -0.25rem -0.5rem;
  margin-inline-end: 0.5rem;
}
.form-control-lg::file-selector-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  margin-inline-end: 1rem;
}
.form-control-color:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-check {
  display: block;
  min-height: 1.25rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
}
.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}
.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.125em;
  vertical-align: top;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 2px solid #6d6d6d;
  appearance: none;
  color-adjust: exact;
}
.form-check-input[type="radio"] {
  border-radius: 50%;
}
.form-check-input:active {
  filter: brightness(90%);
}
.form-check-input:focus {
  border-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}
.form-check-input:checked {
  background-color: #fff;
  border-color: #fff;
}
.form-check-input:checked[type="radio"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%272%27 fill=%27%23fff%27/%3e%3c/svg%3e");
}
.form-check-input:disabled {
  pointer-events: none;
  filter: none;
  opacity: 0.5;
}
.form-check-input:disabled ~ .form-check-label {
  opacity: 0.5;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  color: #f8f9fa;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 0.675rem 1.25rem;
  font-size: 1rem;
  border-radius: 5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
  color: #f8f9fa;
}
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}
.btn:disabled {
  pointer-events: none;
  opacity: 0.65;
}
.btn-primary {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}
.btn-primary:hover {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}
.btn-primary:focus {
  color: #000;
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(217, 217, 217, 0.5);
}
.btn-primary:active {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}
.btn-primary:active:focus {
  box-shadow: 0 0 0 0.25rem rgba(217, 217, 217, 0.5);
}
.btn-primary:disabled {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

body {
  display: flex;
  height: 100vh;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  color: #fff;
  margin: 0;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  --foreground-color: #fff;
}
#pomodoro-timer {
  font-size: 8rem;
  letter-spacing: -0.25rem;
  font-variant-numeric: tabular-nums;
}
#pomodoro-clock-actions .btn {
  min-height: 42px;
  height: unset;
  width: unset;
  border-radius: 40px;
  padding-top: 0.375rem;
}
#pomodoro-durations {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
#pomodoro-durations > div {
  margin-right: 1rem;
  padding-left: 0;
}
#pomodoro-durations > div:first-child {
  padding-left: 0;
  position: relative;
}
#pomodoro-durations > div:last-child {
  margin-right: 0;
}
#pomodoro-durations .pomo-counter {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  transform: translateY(100%);
}
#pomodoro-container .form-check-input {
  display: none;
}
#pomodoro-container label.form-check-label {
  font-size: 1.125rem;
  line-height: 1.5rem;
}
#pomodoro-container .form-check-input:checked ~ .form-check-label,
#pomodoro-container .form-check-label:hover,
#pomodoro-container .form-check-label:active,
#pomodoro-container .form-check-label:focus {
  background-color: #fff;
  color: #000;
}
#pomodoro-stop,
#pomodoro-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  margin-left: 0;
  cursor: pointer;
  width: 3.25rem;
  height: 3.25rem;
}
#pomodoro-stop svg,
#pomodoro-settings svg {
  height: 2.25rem;
  width: 2.25rem;
}
#pomodoro-stop {
  margin-left: 0.25rem;
  transform-origin: center;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-direction: normal;
}
.bg-transparent {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  transition: 375ms all ease-in-out;
}
button {
  border-color: #fff;
  border-style: solid;
}
#pomodoro-start {
  min-width: 130px;
}
#pomodoro-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#pomodoro-clock-actions {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#pomodoro-container .btn:hover {
  color: #000;
  text-decoration: none;
  background-color: #fff;
}
#pomodoro-container .btn:focus {
  color: #000;
  text-decoration: none;
  background-color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(44, 105, 140, 0.5);
}
#pomodoro-container .btn-primary {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}
#pomodoro-container .btn-primary:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border-color: #fff;
}
#pomodoro-container .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(44, 105, 140, 0.5);
}
#pomodoro-container .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(7, 78, 120, 0.25);
}
