{% extends "layout.html" %}
{% block title %}Quiz{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/decks.css') }}">
    <script src="{{ url_for('static', filename='js/decks.js') }}"></script>
</head>
<div class="quiz-wrapper">
    <p id="score" style="text-align: center;">Score: 0</p>
    <div id="quiz-container">
        {% for flashcard in flashcards %}
        <div data-question-id="{{ loop.index }}" style="display:none;">
            <div class="card-container">
                <div class="card">
                  <div class="front">
                    <h1>Question: </h1> 
                    <p>{{ flashcard.question }}</p>
                  </div>
                  <div class="back">
                    <h1>Answer</h1>
                    <p>{{ flashcard.answer }}</p>
                  </div>
                </div>
            </div>
            <div class="button-container">
                <button class="correct-btn">Correct</button>
                <button class="incorrect-btn">Incorrect</button>
            </div>
        </div>
        {% endfor %}
    </div>
    <p id="completion-message" style="display:none; text-align: center;">You have finished the quiz!</p>
    <button id="restart-quiz-btn" style="display:none;">Restart Quiz</button>
</div>
{% endblock %}
