{% extends "layout.html" %} {% block title %}View Deck{% endblock %} 
{% block content %}
<head>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/decks.css') }}"
  />
</head>
<div class="container-custom">
  <div class="left-section">
    <h2 class="form-title">Add a Card to the Deck</h2>
    <form action="" method="post">
      <div class="form-question-container">
        Question:
        <textarea name="question" class="form-question custom-input" rows="1"></textarea>
      </div>
      <div class="form-answer-container">
        Answer:
        <textarea name="answer" class="form-answer custom-input" rows="1"></textarea>
      </div>
      <input type="submit" value="Add Flashcard" class="btn-submit" />
    </form>
  </div>
  <div class="right-section">
    <div class="deck-details">
      <h1 class="deck-title">Cards in deck {{ deck.title }}:</h1>
      <div class="styled-list-container">
        <ul class="styled-list">
          {% for flashcard in flashcards %}
          <li id="flashcard-{{ flashcard.id }}">
            <span class="question">{{ flashcard.question }}</span>
            <span class="answer">{{ flashcard.answer }}</span>
            <button class="delete-btn" onclick="deleteFlashcard({{ flashcard.id }})" data-flashcard-id="{{ flashcard.id }}">Delete</button>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="start-quiz-btn">
        <a href="{{ url_for('views.start_quiz', deck_id=deck.id) }}">Start Quiz</a>
      </div>
    </div>
  </div>
</div>
<script>
  function deleteFlashcard(flashcardId) {
    const deckId = {{ deck.id }};
    fetch(`/study-decks/${deckId}/delete-flashcard/${flashcardId}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
    }).then(response => {
      if (response.ok) {
        document.getElementById(`flashcard-${flashcardId}`).remove();
      } else {
        response.json().then(data => console.error('Error:', data.error));
      }
    }).catch(error => console.error('Error:', error));
  }
</script>
{% endblock %}
