{% extends "layout.html" %} {% block title %}Home{% endblock %} {% block content
%}
<form method="POST" class="flex flex-col space-y-4">
  <label for="question" class="font-bold">Question:</label><br />
  <input
    type="text"
    id="question"
    name="question"
    class="border-2 border-gray-300 p-2 rounded-md"
  />
  <label for="answer" class="font-bold">Answer:</label><br />
  <input
    type="text"
    id="answer"
    name="answer"
    class="border-2 border-gray-300 p-2 rounded-md"
  />
  <label for="deck_id" class="font-bold">Deck ID:</label><br />
  <input
    type="text"
    id="deck_id"
    name="deck_id"
    class="border-2 border-gray-300 p-2 rounded-md"
  />
  <input
    type="submit"
    value="Create Flashcard"
    class="bg-blue-500 text-white p-2 rounded-md"
  />
</form>
{% endblock %}
