{% extends "layout.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 class="text-3xl font-bold text-textD">{{ deck.name }}</h1>
<button
  type="button"
  id="goToDeckQuestions"
  class="bg-primaryD hover:bg-hoverButtonD text-textD font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
>
  Go To Questions
</button>
{% for flashcard in deck.flashcards %}
<div class="container border-collapse p-4 m-2">
  <h2 class="text-xl font-bold text-textD">{{ flashcard.question }}</h2>
  <p class="text-xl text-textD">{{ flashcard.answer }}</p>
</div>
<script>
  document.getElementById("goToDeckQuestions").onclick = function () {
    window.location.href = "/deck-questions/" + {{ deck.id }};
  };
</script>
{% endfor %} {% endblock %}
