{% extends "layout.html" %} {% block title %}Deck Questions{% endblock %} {%
block content %}
<h1 class="text-3xl font-bold text-textD">{{ deck.name }} Questions</h1>
{% for flashcard in [flashcard] %}
<div class="container border-collapse p-4 m-2">
  <h2 class="text-xl font-bold text-textD">{{ flashcard.question }}</h2>
  <form method="POST" class="my-4">
    <textarea
      name="answer"
      id="answer{{flashcard.id}}"
      class="border-2 border-gray-200 rounded w-full p-2"
    ></textarea>
    <div class="text-center my-4">
      <button
        type="submit"
        class="bg-primaryD hover:bg-hoverButtonD text-textD font-bold py-2 px-4 rounded"
      >
        Submit Answer
      </button>
    </div>
  </form>
  <p
    id="answer{{flashcard.id}}"
    style="display: none"
    class="text-xl text-textD"
  >
    {{ flashcard.answer }}
  </p>
</div>
{% endfor %} {% endblock %}
