{% extends "layout.html" %} {% block title %}Login{% endblock %} {% block
content %}
<form method="POST" class="flex flex-col items-center">
  <h3 class="text-center text-3xl text-textD">Login</h3>
  <div class="my-4">
    <label for="email" class="block mb-2 text-textD">Email Address</label>
    <input
      type="email"
      class="border-2 border-gray-200 rounded w-full py-2 px-4"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="my-4">
    <label for="password" class="block mb-2 text-textD">Password</label>
    <input
      type="password"
      class="border-2 border-gray-200 rounded w-full py-2 px-4"
      id="password"
      name="password"
      placeholder="Enter password"
    />
  </div>
  <br />
  <button
    type="submit"
    class="bg-primaryD hover:bg-hoverButtonD text-textD font-bold py-2 px-4 rounded"
  >
    Submit
  </button>
</form>
{% endblock %}
