{% extends "layout.html" %} {% block title %}Notes{% endblock %} {% block
content %}
<div class="container mx-auto">
  <h1 class="text-center text-3xl">Notes</h1>
  <ul class="list-none" id="notes">
    {% for note in user.notes %}
    <li class="border-b border-gray-200 py-4 flex justify-between items-center">
      {{ note.data }}
      <button
        type="button"
        class="text-red-500"
        onClick="deleteNote('{{ note.id }}')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %}
  </ul>
  <form method="POST" class="my-4">
    <textarea
      name="note"
      id="note"
      class="border-2 border-gray-200 rounded w-full p-2"
    ></textarea>
    <div class="text-center my-4">
      <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Add Note
      </button>
    </div>
  </form>
</div>
{% endblock %}
