{% extends "layout.html" %} {% block title %}Quiz{% endblock %} {% block content
%}
<div class="container mx-auto">
  <h1 class="text-center text-3xl">Quiz</h1>

  <form id="form-Quiz" method="POST">
    <div class="mb-4 mt-4">
      <input
        type="text"
        id="question"
        name="question"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        maxlength="50"
        autocomplete="off"
        placeholder="Your question"
        required
      />
    </div>
    <div class="mb-4">
      <textarea
        id="answer"
        name="answer"
        cols="30"
        rows="10"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
        maxlength="500"
        autocomplete="off"
        placeholder="Your answer"
        required
      ></textarea>
    </div>
    <button
      type="submit"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    >
      Save
    </button>
    <button
      type="button"
      id="goToQuizQuestions"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    >
      Go to Quiz Questions
    </button>
    <button
      href="#"
      onclick="deleteQuizAll('{{ user.id }}')"
      class="bg-red-500 hover:bg-red-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    >
      Delete All
    </button>
  </form>

  <div class="w-full">
    <div class="flex items-center justify-between px-3 py-2">
      <p class="font-semibold">Title</p>
      <p class="font-semibold">Description</p>
      <p class="font-semibold text-right">Delete</p>
    </div>
    <hr />
    <div style="height: 20rem" class="p-4 overflow-y-scroll">
      <ul class="list-disc">
        {% for quiz in user.quiz %}
        <div class="shadow rounded-lg mb-3 bg-gray-150">
          <div class="p-4">
            <div class="flex items-center justify-between">
              <div class="flex-1">
                <p>{{ quiz.question }}</p>
              </div>
              <div class="flex-1">
                <p class="break-all">{{ quiz.answer }}</p>
              </div>
              <div class="flex-1 text-right">
                <a
                  href="#"
                  onclick="deleteQuiz('{{ quiz.id }}')"
                  class="ml-5 text-white bg-red-500 rounded-full p-2"
                  ><span aria-hidden="true">&times;</span></a
                >
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </ul>
    </div>
  </div>
  <script>
    document.getElementById("goToQuizQuestions").onclick = function () {
      window.location.href = "/quiz-questions";
    };
  </script>

  {% endblock %}
</div>
