{% extends "layout.html" %} {% block title %}Todo{% endblock %} {% block content %}
<div class="container p-4">
  <div class="row">
    <div class="col-md-6">
      <div class="mb-4">
        <form id="form-Task" method="POST">
          <div class="form-group">
            <input
              type="text"
              id="title"
              name="title"
              class="form-control"
              maxlength="50"
              autocomplete="off"
              placeholder="Title"
              required
            />
          </div>
          <div class="form-group mt-4">
            <textarea
              id="description"
              name="description"
              class="form-control"
              rows="10"
              maxlength="500"
              autocomplete="off"
              placeholder="Description"
              required
            ></textarea>
          </div>
          <div class="form-group mt-3">
            <button
              type="submit"
              class="button-30"
              style="width: 100%;"
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <div class="d-flex justify-content-center p-2 bg-white rounded">
          <span class="font-weight-bold">Tasks</span>
          <!-- <span class="font-weight-bold">Description</span>
          <span class="font-weight-bold text-right">Delete</span> -->
        </div>
        <hr />
        <div class="overflow-y-scroll no-scrollbar todo-container px-4" style="height: 49rem">
          {% for todo in user.todo %}
          <div class="card todo-card my-3">
            <div class="card-body todo-card-body">
              <div class="todo-title">
                <p>{{ todo.title }}</p>
              </div>
              <div class="todo-description">
                <p><span>&#8226;</span> {{ todo.description }}</p>
              </div>
              <div class="todo-actions">
                {% if todo.completed %}
                <button onclick="completeTodo('{{ todo.id }}')" class="button-30-good-s">
                  <span>&check;</span>
                </button>
                {% else %}
                <button onclick="completeTodo('{{ todo.id }}')" class="button-30-s">
                  <span>&check;</span>
                </button>
                {% endif %}
                <button onclick="deleteTodo('{{ todo.id }}')" class="button-30-bad-s" style="margin-left: 5px;">
                  <span>X</span>
                </button>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
