{% extends "layout.html" %} {% block title %}Todo{% endblock %} {% block content
%}
<div class="container mx-auto">
  <div class="flex flex-wrap my-12">
    <div class="w-full md:w-1/2">
      <div class="shadow rounded-lg">
        <div class="p-4">
          <form id="form-Task" method="POST">
            <div class="mb-4">
              <input
                type="text"
                id="title"
                name="title"
                class="shadow-md backdrop-blur-md bg-opacity-10 bg-white w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-primaryD focus:border-primaryD dark:text-textD dark:placeholder-gray-500 dark:border-gray-300 dark:focus:ring-gray-400 dark:focus:border-gray-500"
                maxlength="50"
                autocomplete="off"
                placeholder="Title"
                required
              />
            </div>
            <div class="mb-4">
              <textarea
                id="description"
                name="description"
                cols="30"
                rows="10"
                class="shadow-md backdrop-blur-md bg-opacity-10 bg-white w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-primaryD focus:border-primaryD dark:text-textD dark:placeholder-gray-500 dark:border-gray-300 dark:focus:ring-gray-400 dark:focus:border-gray-500"
                maxlength="500"
                autocomplete="off"
                placeholder="Description"
                required
              ></textarea>
            </div>
            <button
              type="submit"
              class="w-full px-3 py-4 text-textD bg-hoverButtonD rounded-md focus:bg-hoverButtonD focus:outline-none"
            >
              Save
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="w-full md:w-1/2">
      <div
        class="flex items-center justify-between px-3 py-2 text-textD shadow-md backdrop-blur-md bg-opacity-10 bg-white"
      >
        <p class="font-semibold">Title</p>
        <p class="font-semibold">Description</p>
        <p class="font-semibold text-right">Delete</p>
      </div>
      <hr />
      <div
        style="height: 49rem"
        class="p-4 overflow-y-scroll shadow-md backdrop-blur-md bg-opacity-10 bg-white"
      >
        {% for todo in user.todo %}
        <div
          class="rounded-lg mb-3 shadow-md backdrop-blur-md bg-opacity-10 bg-white"
        >
          <div class="p-4">
            <div class="flex items-center justify-between bg-">
              <div class="flex-1">
                <p class="break-all text-textD">{{ todo.title }}</p>
              </div>
              <div class="flex-1">
                <p class="break-all text-textD">{{ todo.description }}</p>
              </div>
              <div class="flex-1-c text-right">
                {% if todo.completed %}
                <button
                  onclick="completeTodo('{{ todo.id }}')"
                  class="animated-button-not-complete ml-auto bg-green-500 text-white"
                >
                  <span>&check;</span>
                  <span></span>
                </button>
                {% else %}
                <button
                  onclick="completeTodo('{{ todo.id }}')"
                  class="animated-button-not-complete ml-auto"
                >
                  <span>&check;</span>
                  <span></span>
                </button>
                {% endif %}
                <button
                  onclick="deleteTodo('{{ todo.id }}')"
                  class="button ml-3"
                >
                  <span
                    ><svg viewBox="0 0 448 512" class="svgIcon">
                      <path
                        d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"
                      ></path></svg
                  ></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
