{% extends "layout.html" %} {% block title %}Todo{% endblock %} {% block content
%}
  <body>
    <!-- <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">My To-Do List</a>
      </div>
    </nav> -->
    <div class="container">
      <div class="row my-5">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
                <form id="form-Task" method="POST">
                    <div class="form-group">
                        <input
                            type="text"
                            id="title"
                            name="title"
                            class="form-control"
                            maxlength="50"
                            autocomplete="off"
                            placeholder="Title"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <textarea
                            id="description"
                            name="description"
                            cols="30"
                            rows="10"
                            class="form-control"
                            maxlength="500"
                            autocomplete="off"
                            placeholder="Description"
                            required
                        ></textarea>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">
                        Save
                    </button>
                </form>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-sm-3 text-left">
              <p class="font-weight-bold">Title</p>
            </div>
            <div class="col-sm-6 text-left">
              <p class="font-weight-bold">Description</p>
            </div>
            <div class="col-sm-3 text-right">
              <p class="font-weight-bold">Delete</p>
            </div>
          </div>
          <hr />
          <div id="tasks"></div>
        </div>
      </div>
    </div>

    <script src="./static/todo.js"></script>
  </body>
</html>
{% endblock %}
